<template lang="pug">
  .mb-3
    label.form-label {{label}}
    select.form-select(:value="value" @change="onChange($event)")
      option(v-for="option in options" :value="option.value?option.value:option") {{option.label?option.label:option}}
</template>

<script>
export default {
  props: ['label', 'value', 'options'],
  methods: {
    onChange(e){
      this.$emit('input', e.target.value.value?e.target.value.value:e.target.value)
    }
  }
}
</script>