<template lang="pug">
  html
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title
        | Empty page - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
      link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin='')
      meta(name='msapplication-TileColor' content='#206bc4')
      meta(name='theme-color' content='#206bc4')
      meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
      meta(name='apple-mobile-web-app-capable' content='yes')
      meta(name='mobile-web-app-capable' content='yes')
      meta(name='HandheldFriendly' content='True')
      meta(name='MobileOptimized' content='320')
      meta(name='robots' content='noindex,nofollow,noarchive')
      link(rel='icon' href='./favicon.ico' type='image/x-icon')
      link(rel='shortcut icon' href='./favicon.ico' type='image/x-icon')
      // Libs CSS
      
    body
      .page
        .content
          .container
            slot
          footer.footer.footer-transparent
            .container
              .row.text-center.align-items-center.flex-row-reverse
                .col-lg-auto.ml-lg-auto
                  | Welcome
                .col-12.col-lg-auto.mt-3.mt-lg-0
                  | Copyright &copy; 2020 All rights reserved.

</template>

<style lang="scss">
  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  @import '../assets/libs/jqvmap/dist/jqvmap.min.css';
  @import '../assets/libs/selectize/dist/css/selectize.css';
  @import '../assets/libs/fullcalendar/core/main.min.css';
  @import '../assets/libs/fullcalendar/daygrid/main.min.css';
  @import '../assets/libs/fullcalendar/timegrid/main.min.css';
  @import '../assets/libs/fullcalendar/list/main.min.css';
  @import '../assets/libs/flatpickr/dist/flatpickr.min.css';
  @import '../assets/libs/nouislider/distribute/nouislider.min.css';
  @import 'https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css';
  // Tabler Core
  @import '../assets/css/tabler.min.css';
  // Tabler Plugins
  @import '../assets/css/tabler-flags.min.css';
  @import '../assets/css/tabler-payments.min.css';
  @import '../assets/css/tabler-buttons.min.css';

  @import '../assets/css/demo.min.css';
</style>
